*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* intestazione */
header{
  height: 400px;
  width: 80%;
  margin: auto;
  background-color: #0C325A;
  background-image: url(img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.menu-inline{
  list-style: none;
  font-size: 12px;
}
.menu-inline li{
  display: inline-block;
  text-transform: uppercase;
}
#sfondo{
  background-color: #7CBB02;
  padding:5px;
  border: 0;
  border-radius: 3px;
}
.header-top{
  height: 70px;
  line-height: 70px;
}
.header-top::after{
  content: "";
  display: table;
  clear:both;
}
.header-top-logo{
  float: left;
  width: 15%;
}
.header-top-nav-left{
  float: left;
  width: 44%;
}
.header-top-nav-right{
  float: left;
  width: 35%;
}
#bordatura{
  border: 2px solid #fff;
}
.header-top li a{
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.banner-container button  {
  background-color: #7CBB02;
  padding:10px;
  border: 0;
  border-radius: 3px;
  margin-top: 10px;
  text-transform: uppercase;
}
.banner-container h1{
  color: #fff;
}
.banner-container a{
  text-decoration: none;
  color: #fff;
}
/* fine intestazione */
.pubblicita{
  height: 70px;
  width: 80%;
  margin: auto;
  background-color: lightgrey;
  text-align: center;
}
.pubblicita p{
  color:grey;
}
main{
  background-color: #fff;
  width: 80%;
}
.row::after{
  content: "";
  display: table;
  clear:both;
}
.col-left{
  float:left;
  height: 100px;
  display: inline-block;
}
.col-cen{
  float: left;
  height: 100px;
  display:inline-block;
}
.col-right{
  float:left;
  height: 100px;
  display: inline-block;
}
